/* Welcome to MP-library for responsive web-design */

/* font-size default is 10px, 1rem = 10px */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg :hsl(0, 0%, 100%); 
    --primary-txt: hsl(0, 2%, 10%);
    --hover-beauty: hsl(211, 100%, 35%);
    --border-1: 2px solid white;
    --border-2: 2px solid hsl(211, 100%, 35%);
    --spacing-gap: 3rem;

    --fs-1: 0.8rem;
    --fs-2: 1rem;
    --fs-3: 1.2rem;
    --fs-4: 1.4rem;
    --fs-5: 1.6rem;
    --fs-6: 1.8rem;
    --fs-7: 2rem;
    --fs-8: 2.2rem;
    --fs-9: 2.4rem;
    --fs-10: 2.6rem;
    --fs-11: 2.8rem;
    --fs-12: 3rem;
    --fs-13: 3.2rem;
    --fs-14: 3.4rem;
    --fs-15: 3.6rem;
    --fs-16: 3.8rem;
    --fs-17: 4rem;
    --fs-18: 4.2rem;
    --fs-19: 4.4rem;
    --fs-20: 4.6rem;
    --fs-21: 4.8rem;
    --fs-22: 5rem;
    
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-bolder: 800;
    --fw-boldest: 900;

    --clr-primary: hsl(211, 100%, 35%);
    --clr-secondary: hsl(39, 100%, 50%);
    --clr-mute: #756c6c;
}

html {
    font-size: 62.5%; 
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: 	hsl(260, 36%, 53%);
}

.btn-primary {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    border: none;
    border-radius: 0.5rem;
    background-color: hsl(211, 100%, 50%);
    color: #ffff;
    cursor: pointer !important;
    transition: 0.3s linear;
}

.btn-primary:hover {
    background-color: hsl(211, 100%, 35%);
}


h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}
p {
    font-size: var(--fs-5);
    line-height: 1.6;
}

.mp-container {
    max-width: 960px;
}

/* Grid for two columns in desktop-version and single col in mobile devices */
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}
  
  /* Grid Item Styles */
.grid-item {
    grid-column: span 4; /* Default column span */
}

.col-span-1 {
    grid-column: span 1;
}
  
.col-span-2 {
    grid-column: span 2;
}
  
.col-span-3 {
    grid-column: span 3;
}

.col-span-4 {
    grid-column: span 4;
}

.col-span-5 {
    grid-column: span 5;
}
.col-span-6 {
    grid-column: span 6;
}

.col-span-7 {
    grid-column: span 7;
}
.col-span-8 {
    grid-column: span 8;
}
.col-span-9 {
    grid-column: span 9;
}
.col-span-10 {
    grid-column: span 10;
}
.col-span-11 {
    grid-column: span 11;
}
.col-span-12 {
    grid-column: span 12;
}

.center-content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}






/* for smaller mobile-devices */
@media (max-width:576px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
    }
    p {
        font-size: var(--fs-400);
    }
    .grid {
        grid-template-columns: repeat(1, 1fr); 
    }
    
    .grid-item {
        grid-column: span 1; /* Full width 100% mobile */
    }
}


/* for modern-medium mobile-devices */
@media (min-width:577px) and (max-width:767px){
    .container {
        max-width: 100%;
        margin: 0 auto;
    }
    p {
        font-size: var(--fs-400);
    }
    .grid {
        grid-template-columns: repeat(1, 1fr); 
    }
    
    .grid-item {
        grid-column: span 1; /* Full width 100% mobile */
    }
}


/* for tablet devices*/
@media (min-width:767px) and (max-width:992px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }
    p{
        font-size: var(--fs-400);
    }
    .grid-item {
        grid-column: span 2; /* Half width on tablet */
    }
}


/* for Desktop devices*/
@media (min-width:992px) and (max-width:1200px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }
}

/* for larger Desktop devices*/
@media (min-width:1200px) and (max-width:1400px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
}

/* for extra large Desktop devices*/
@media (min-width:1400px) {
    .container {
        max-width: 1320px;
        margin: 0 auto;
    }
}

